body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: #fff;
    background-image: url("background/cloudy-sky.gif");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(10px);
}

.cloudy-night{

        background-image: url("background/cloudy-night.gif");

}
.cloudy-sky{

        background-image: url("background/cloudy-sky.gif");

}
.rainy{

        background-image: url("background/rainy-night.gif");

}
.storn{

        background-image: url("background/storn.gif");

}
.snow{

        background-image: url("background/snow.webp");

}
.fog{

        background-image: url("background/fog.webp");

}
.night{
        background-image: url("background/night.gif");
}